<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>REGISTRE DE MATRICULATION</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>

        .form-center
        {
            {#width: 400px;#}
            {#margin: 0 auto;#}
            display: flex;
            justify-content: center;
            align-items: start;
            {#min-height: 100vh;#}
        }
        form{
            width: 100%;
        }

        table {
            white-space: nowrap;
            width: 100%;
        }

        td {
            border: 1px solid black;
        }
        td {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        td.fit {
            width: 0;
            min-width: fit-content;
        }



    </style>
</head>
<body>
    <div class="form-center">
        <div class="shadow p-4 mb-4 bg-body rounded">

             <form action="{% url 'filtrerlistegenerale' %}" method="GET" id="frecherche" data-classe-url="{% url 'chargerlisteclasse' %}" class="form-horizontal">
                    <label style="font-weight: bold; font-size: 16pt;">Filtrez la liste des inscrits</label>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mat">Matricule</label>
                                <input type="text" id="mat" name="matricule" class="form-control" placeholder="Tapez un matricule ici">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_annee">Année scolaire</label>
                                <select class="form-control" name="annee_scolaire" id="id_annee">
                                      <option value="" selected>Selectionnez</option>
                                      {% for an in ansc %}
                                        <option value="{{an.id}}">{{an.descript_annee}}</option>
                                      {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_cycle">Cycle</label>
                                <select class="form-control" name="cycle" id="id_cycle">
                                      <option value="" selected>Selectionnez</option>
                                      {% for cl in cycles %}
                                        <option value="{{cl.id}}">{{cl.cycle}}</option>
                                      {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_classe">Classe</label>
                                <select class="form-control" name="classe" id="id_classe">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="nompren">Nom Famille/Prénoms</label>
                                <input type="text" id="nompren" name="nomeleve" class="form-control" placeholder="Tapez un mot contenu dans le nom ou prénoms de l'élève ">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-center">
                                <button type="submit" class=" btn btn-primary col-md">Rechercher &nbsp;<i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center">
                                <a href="{% url  'registrematricule' %}" target="_self" class="btn btn-warning col-md">Actualiser &nbsp;<i class="fa fa-refresh"></i></a>
                            </div>
                        </div>
                    </div>

            <br>
                <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="efftotal">Effectif total</label>
                                <input type="text" id="efftotal" name="effectif_total" value="{{ effectif_total }}" class="form-control" readonly style="color:red;">
                            </div>
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="effgarcons">Effectif total garçons</label>
                                <input type="text" id="effgarcons" name="effectif_total_garcons" value="{{ effectif_total_garcons }}" class="form-control" readonly style="color:red">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="eff_filles">Effectif total filles</label>
                                <input type="text" id="eff_filles" name="effectif_total_filles" value="{{ effectif_total_filles }}" class="form-control" readonly style="color:red">
                            </div>
                        </div>
                </div>
            </form>
        </div>
    </div>

    <br>
        <div class="container-fluid">
          <div class="card shadow mb-4">
            <div class="table-responsive">

             {% if listeinsmat %}
                <table id="listeinscritsparmatricule" class="table table-striped table-bordered">
                    <thead class="table-success">
                        <tr>
                            <th>Statut</th>
                            <th>Regime</th>
                            <th>Matricule</th>
                            <th>Nom Famille</th>
                            <th>Prénom(s)</th>
                            <th>Sexe</th>
                            <th>Prénom(s) Père</th>
                            <th>Nom et Prénom(s) Mère</th>
                            <th>Nom et Prénom(s) Tuteur</th>
                            <th>Contact tuteur</th>
                            <th>Adresse</th>
                            <th>Ecole d'origine</th>
                            <th>Photo ID</th>
                            <th>Date naissance</th>
                            <th>Lieu naissance</th>
                            <th>Date entrée</th>
                            <th>Pays naissance</th>
                            <th>Classe</th>
                            <th>Cycle</th>
                            <th>Année scolaire</th>
                            <th>Date inscription</th>
                            <th>ID Inscription</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for le in listeinsmat %}
                                <tr>
                                    <td class="fit">{{le.etat_inscription}}</td>
                                    <td class="fit">{{le.regime_coran}}</td>
                                    <td class="fit">{{le.mateleve}}</td>
                                    <td class="fit">{{le.mateleve.nom|upper}}</td>
                                    <td class="fit">{{le.mateleve.prenom}}</td>
                                    <td class="fit">{{le.mateleve.sexe_eleve}}</td>
                                    <td class="fit">{{le.mateleve.pere}}</td>
                                    <td class="fit">{{le.mateleve.mere}}</td>
                                    <td class="fit">{{le.mateleve.tuteur}}</td>
                                    <td class="fit">{{le.mateleve.contact_parent}}</td>
                                    <td class="fit">{{le.mateleve.adresse}}</td>
                                    <td class="fit">{{le.mateleve.ecole_origine}}</td>

                                    {% if le.mateleve.photo_eleve %}
                                    <td class="fit"><img src="{{le.mateleve.photo_eleve.url}}" width="60px"></td>
                                    {% else %}
                                    <td class="fit">Photo indisponible</td>
                                    {% endif %}

                                    <td class="fit">{{le.mateleve.datenaissance|date:'j-n-Y'}}</td>
                                    <td class="fit">{{le.mateleve.lieu_naissance}}</td>
                                    <td class="fit">{{le.mateleve.date_arrivee|date:'j-n-Y'}}</td>
                                    <td class="fit">{{le.mateleve.pays_naissance}}</td>
                                    <td class="fit">{{le.idclasse}}</td>
                                    <td class="fit">{{le.idcycle}}</td>
                                    <td class="fit">{{le.annee_scolaire}}</td>
                                    <td class="fit">{{le.date_inscription|date:'j-n-Y'}}</td>
                                    <td class="fit">{{le.id}}</td>
                                    <td class="fit">
                                        <a class="btn btn-primary" href="{% url 'afficherdetailsinscription' le.id %}" title="Voir/Afficher"><i class="fa-solid fa-eye fa-sm"></i></a>
                                        <a class="btn btn-info" href="{% url 'editioninscription' le.id %}" title="Modifier/Editer"><i class="fa-solid fa-edit fa-sm"></i></a>
                                        <a class="btn btn-danger" href="{% url 'suppinscription' le.id %}" title="Supprimer"><i class="fa-solid fa-remove fa-sm"></i></a>
                                        <a class="btn btn-secondary" target="_blank" href="{% url 'imprimerecuinscription' le.id %}" title="Imprimer reçu inscription"><i class="fa-solid fa-print fa-sm"></i></a>
                                    </td>
                                </tr>

                            {% endfor %}
                    </tbody>
                </table>

             <div class="row">
               <div class="col-md-8">
                  <nav aria-label="">
                     <ul class="pagination">
                         {% if listeinsmat.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ listeinsmat.previous_page_number }}"><i class="fa-solid fa-backward fa-sm"></i>&nbsp; Précédent</a>
                            </li>
                         {% endif %}
                           <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">
                                  Page {{ listeinsmat.number }} sur {{ listeinsmat.paginator.num_pages }}
                                </a>
                           </li>
                         {% if listeinsmat.has_next %}
                           <li class="page-item">
                                <a class="page-link" href="?page={{ listeinsmat.next_page_number }}"><i class="fa-solid fa-forward fa-sm"></i>&nbsp; Suivant</a>
                           </li>
                           <li class="page-item">
                               <a class="page-link" href="?page={{ listeinsmat.paginator.num_pages }}"><i class="fa-solid fa-step-forward fa-sm"></i>&nbsp; Dernier</a>
                           </li>
                        {% endif %}

                     </ul>
                  </nav>
               </div>
             </div>

           {% elif listeinsclasse %}

                    <table id="listeinscritsparclasse" class="table table-striped table-bordered">
                    <thead class="table-success">
                        <tr>
                            <th>Statut</th>
                            <th>Regime</th>
                            <th>Matricule</th>
                            <th>Nom Famille</th>
                            <th>Prénom(s)</th>
                            <th>Sexe</th>
                            <th>Prénom(s) Père</th>
                            <th>Nom et Prénom(s) Mère</th>
                            <th>Nom et Prénom(s) Tuteur</th>
                            <th>Contact tuteur</th>
                            <th>Adresse</th>
                            <th>Ecole d'origine</th>
                            <th>Photo ID</th>
                            <th>Date naissance</th>
                            <th>Lieu naissance</th>
                            <th>Date entrée</th>
                            <th>Pays naissance</th>
                            <th>Classe</th>
                            <th>Cycle</th>
                            <th>Année scolaire</th>
                            <th>Date inscription</th>
                            <th>ID Inscription</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for le in listeinsclasse %}
                                <tr>
                                    <td class="fit">{{le.etat_inscription}}</td>
                                    <td class="fit">{{le.regime_coran}}</td>
                                    <td class="fit">{{le.mateleve}}</td>
                                    <td class="fit">{{le.mateleve.nom|upper}}</td>
                                    <td class="fit">{{le.mateleve.prenom}}</td>
                                    <td class="fit">{{le.mateleve.sexe_eleve}}</td>
                                    <td class="fit">{{le.mateleve.pere}}</td>
                                    <td class="fit">{{le.mateleve.mere}}</td>
                                    <td class="fit">{{le.mateleve.tuteur}}</td>
                                    <td class="fit">{{le.mateleve.contact_parent}}</td>
                                    <td class="fit">{{le.mateleve.adresse}}</td>
                                    <td class="fit">{{le.mateleve.ecole_origine}}</td>

                                    {% if le.mateleve.photo_eleve %}
                                    <td class="fit"><img src="{{le.mateleve.photo_eleve.url}}" width="60px"></td>
                                    {% else %}
                                    <td class="fit">Photo indisponible</td>
                                    {% endif %}

                                    <td class="fit">{{le.mateleve.datenaissance|date:'j-n-Y'}}</td>
                                    <td class="fit">{{le.mateleve.lieu_naissance}}</td>
                                    <td class="fit">{{le.mateleve.date_arrivee|date:'j-n-Y'}}</td>
                                    <td class="fit">{{le.mateleve.pays_naissance}}</td>
                                    <td class="fit">{{le.idclasse}}</td>
                                    <td class="fit">{{le.idcycle}}</td>
                                    <td class="fit">{{le.annee_scolaire}}</td>
                                    <td class="fit">{{le.date_inscription|date:'j-n-Y'}}</td>
                                    <td class="fit">{{le.id}}</td>
                                    <td class="fit">
                                        <a class="btn btn-primary" href="{% url 'afficherdetailsinscription' le.id %}" title="Voir/Afficher"><i class="fa-solid fa-eye fa-sm"></i></a>
                                        <a class="btn btn-info" href="{% url 'editioninscription' le.id %}" title="Modifier/Editer"><i class="fa-solid fa-edit fa-sm"></i></a>
                                        <a class="btn btn-danger" href="{% url 'suppinscription' le.id %}" title="Supprimer"><i class="fa-solid fa-remove fa-sm"></i></a>
                                        <a class="btn btn-secondary" target="_blank" href="{% url 'imprimerecuinscription' le.id %}" title="Imprimer le reçu d'inscription"><i class="fa-solid fa-print fa-sm"></i></a>
                                    </td>
                                </tr>

                            {% endfor %}
                    </tbody>
                </table>

                <div class="row">
                  <div class="col-md-8">
                  <nav aria-label="">
                     <ul class="pagination">
                         {% if listeinsclasse.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ listeinsclasse.previous_page_number }}"><i class="fa-solid fa-backward fa-sm"></i>&nbsp; Précédent</a>
                            </li>
                         {% endif %}
                           <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">
                                  Page {{ listeinsclasse.number }} sur {{ listeinsclasse.paginator.num_pages }}
                                </a>
                           </li>
                         {% if listeinsclasse.has_next %}
                           <li class="page-item">
                                <a class="page-link" href="?page={{ listeinsclasse.next_page_number }}"><i class="fa-solid fa-forward fa-sm"></i>&nbsp; Suivant</a>
                           </li>
                           <li class="page-item">
                               <a class="page-link" href="?page={{ listeinsclasse.paginator.num_pages }}"><i class="fa-solid fa-step-forward fa-sm"></i>&nbsp; Dernier</a>
                           </li>
                        {% endif %}

                     </ul>
                  </nav>
                </div>
               </div>


            {% elif listenp %}

                    <table id="listeinscritsparnom" class="table table-striped table-bordered">
                    <thead class="table-success">
                        <tr>
                            <th>Statut</th>
                            <th>Regime</th>
                            <th>Matricule</th>
                            <th>Nom Famille</th>
                            <th>Prénom(s)</th>
                            <th>Sexe</th>
                            <th>Prénom(s) Père</th>
                            <th>Nom et Prénom(s) Mère</th>
                            <th>Nom et Prénom(s) Tuteur</th>
                            <th>Contact tuteur</th>
                            <th>Adresse</th>
                            <th>Ecole d'origine</th>
                            <th>Photo ID</th>
                            <th>Date naissance</th>
                            <th>Lieu naissance</th>
                            <th>Date entrée</th>
                            <th>Pays naissance</th>
                            <th>Classe</th>
                            <th>Cycle</th>
                            <th>Année scolaire</th>
                            <th>Date inscription</th>
                            <th>ID Inscription</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for le in listenp %}
                                <tr>
                                    <td class="fit">{{le.etat_inscription}}</td>
                                    <td class="fit">{{le.regime_coran}}</td>
                                    <td class="fit">{{le.mateleve}}</td>
                                    <td class="fit">{{le.mateleve.nom|upper}}</td>
                                    <td class="fit">{{le.mateleve.prenom}}</td>
                                    <td class="fit">{{le.mateleve.sexe_eleve}}</td>
                                    <td class="fit">{{le.mateleve.pere}}</td>
                                    <td class="fit">{{le.mateleve.mere}}</td>
                                    <td class="fit">{{le.mateleve.tuteur}}</td>
                                    <td class="fit">{{le.mateleve.contact_parent}}</td>
                                    <td class="fit">{{le.mateleve.adresse}}</td>
                                    <td class="fit">{{le.mateleve.ecole_origine}}</td>

                                    {% if le.mateleve.photo_eleve %}
                                    <td class="fit"><img src="{{le.mateleve.photo_eleve.url}}" width="60px"></td>
                                    {% else %}
                                    <td class="fit">Photo indisponible</td>
                                    {% endif %}

                                    <td class="fit">{{le.mateleve.datenaissance|date:'j-n-Y'}}</td>
                                    <td class="fit">{{le.mateleve.lieu_naissance}}</td>
                                    <td class="fit">{{le.mateleve.date_arrivee|date:'j-n-Y'}}</td>
                                    <td class="fit">{{le.mateleve.pays_naissance}}</td>
                                    <td class="fit">{{le.idclasse}}</td>
                                    <td class="fit">{{le.idcycle}}</td>
                                    <td class="fit">{{le.annee_scolaire}}</td>
                                    <td class="fit">{{le.date_inscription|date:'j-n-Y'}}</td>
                                    <td class="fit">{{le.id}}</td>
                                    <td class="fit">
                                        <a class="btn btn-primary" href="{% url 'afficherdetailsinscription' le.id %}" title="Voir/Afficher"><i class="fa-solid fa-eye fa-sm"></i></a>
                                        <a class="btn btn-info" href="{% url 'editioninscription' le.id %}" title="Modifier/Editer"><i class="fa-solid fa-edit fa-sm"></i></a>
                                        <a class="btn btn-danger" href="{% url 'suppinscription' le.id %}" title="Supprimer"><i class="fa-solid fa-remove fa-sm"></i></a>
                                        <a class="btn btn-secondary" target="_blank" href="{% url 'imprimerecuinscription' le.id %}" title="Imprimer le reçu d'inscription"><i class="fa-solid fa-print fa-sm"></i></a>
                                    </td>

                                </tr>

                            {% endfor %}
                    </tbody>
                </table>

                <div class="row">
                  <div class="col-md-8">
                  <nav aria-label="">
                     <ul class="pagination">
                         {% if listenp.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ listenp.previous_page_number }}"><i class="fa-solid fa-backward fa-sm"></i>&nbsp; Précédent</a>
                            </li>
                         {% endif %}
                           <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">
                                  Page {{ listenp.number }} sur {{ listenp.paginator.num_pages }}
                                </a>
                           </li>
                         {% if listenp.has_next %}
                           <li class="page-item">
                                <a class="page-link" href="?page={{ listenp.next_page_number }}"><i class="fa-solid fa-forward fa-sm"></i>&nbsp; Suivant</a>
                           </li>
                           <li class="page-item">
                               <a class="page-link" href="?page={{ listenp.paginator.num_pages }}"><i class="fa-solid fa-step-forward fa-sm"></i>&nbsp; Dernier</a>
                           </li>
                        {% endif %}

                     </ul>
                  </nav>
                </div>
               </div>

            {% else %}

                <table id="listegeneraleinscrits" class="table table-striped table-bordered">
                    <thead class="table-success">
                        <tr>
                            <th>Statut</th>
                            <th>Regime</th>
                            <th>Matricule</th>
                            <th>Nom Famille</th>
                            <th>Prénom(s)</th>
                            <th>Sexe</th>
                            <th>Prénom(s) Père</th>
                            <th>Nom et Prénom(s) Mère</th>
                            <th>Nom et Prénom(s) Tuteur</th>
                            <th>Contact tuteur</th>
                            <th>Adresse</th>
                            <th>Ecole d'origine</th>
                            <th>Photo ID</th>
                            <th>Date naissance</th>
                            <th>Lieu naissance</th>
                            <th>Date entrée</th>
                            <th>Pays naissance</th>
                            <th>Classe</th>
                            <th>Cycle</th>
                            <th>Année scolaire</th>
                            <th>Date inscription</th>
                            <th>ID Inscription</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                         {% for le in listeinscrits %}
                                <tr>
                                    <td class="fit">{{le.etat_inscription}}</td>
                                    <td class="fit">{{le.regime_coran}}</td>
                                    <td class="fit">{{le.mateleve}}</td>
                                    <td class="fit">{{le.mateleve.nom|upper}}</td>
                                    <td class="fit">{{le.mateleve.prenom}}</td>
                                    <td class="fit">{{le.mateleve.sexe_eleve}}</td>
                                    <td class="fit">{{le.mateleve.pere}}</td>
                                    <td class="fit">{{le.mateleve.mere}}</td>
                                    <td class="fit">{{le.mateleve.tuteur}}</td>
                                    <td class="fit">{{le.mateleve.contact_parent}}</td>
                                    <td class="fit">{{le.mateleve.adresse}}</td>
                                    <td class="fit">{{le.mateleve.ecole_origine}}</td>

                                    {% if le.mateleve.photo_eleve %}
                                    <td class="fit"><img src="{{le.mateleve.photo_eleve.url}}" width="60px"></td>
                                    {% else %}
                                    <td class="fit">Photo indisponible</td>
                                    {% endif %}

                                    <td class="fit">{{le.mateleve.datenaissance|date:'j-n-Y'}}</td>
                                    <td class="fit">{{le.mateleve.lieu_naissance}}</td>
                                    <td class="fit">{{le.mateleve.date_arrivee|date:'j-n-Y'}}</td>
                                    <td class="fit">{{le.mateleve.pays_naissance}}</td>
                                    <td class="fit">{{le.idclasse}}</td>
                                    <td class="fit">{{le.idcycle}}</td>
                                    <td class="fit">{{le.annee_scolaire}}</td>
                                    <td class="fit">{{le.date_inscription|date:'j-n-Y'}}</td>
                                    <td class="fit">{{le.id}}</td>
                                    <td class="fit">
                                        <a class="btn btn-primary" href="{% url 'afficherdetailsinscription' le.id %}" title="Voir/Afficher"><i class="fa-solid fa-eye fa-sm"></i></a>
                                        <a class="btn btn-info" href="{% url 'editioninscription' le.id %}" title="Modifier/Editer"><i class="fa-solid fa-edit fa-sm"></i></a>
                                        <a class="btn btn-danger" href="{% url 'suppinscription' le.id %}" title="Supprimer"><i class="fa-solid fa-remove fa-sm"></i></a>
                                        <a class="btn btn-secondary" target="_blank" href="{% url 'imprimerecuinscription' le.id %}" title="Imprimer le reçu d'inscription"><i class="fa-solid fa-print fa-sm"></i></a>
                                    </td>

                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="row">
                          <div class="col-md-8">
                          <nav aria-label="">
                             <ul class="pagination">
                                 {% if listeinscrits.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ listeinscrits.previous_page_number }}"><i class="fa-solid fa-backward fa-sm"></i>&nbsp; Précédent</a>
                                    </li>
                                 {% endif %}
                                   <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="#">
                                          Page {{ listeinscrits.number }} sur {{ listeinscrits.paginator.num_pages }}
                                        </a>
                                   </li>
                                 {% if listeinscrits.has_next %}
                                   <li class="page-item">
                                        <a class="page-link" href="?page={{ listeinscrits.next_page_number }}"><i class="fa-solid fa-forward fa-sm"></i>&nbsp; Suivant</a>
                                   </li>
                                   <li class="page-item">
                                       <a class="page-link" href="?page={{ listeinscrits.paginator.num_pages }}"><i class="fa-solid fa-step-forward fa-sm"></i>&nbsp; Dernier</a>
                                   </li>
                                {% endif %}

                             </ul>
                          </nav>
                        </div>
                     </div>

              {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% block javascript %}

 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 <script>
    // Cette fonction javascript (JQuery) m'a permis de filtrer les classes selon le cycle choisi
    $("#id_cycle").change(function(){
        var url = $("#frecherche").attr("data-classe-url");
        var idcycle = $(this).val();

        $.ajax({
            url:url,
            data:{
                'idcycle':idcycle
            },
            success:function(data){
                $("#id_classe").html(data);
            }


        });
    });


 </script>

{% endblock %}