{% extends "base.html" %}
{% block titre_page %} MIS A JOUR {% endblock %}
{% block titre_formulaire %} DETAILS DE L'INSCRIPTION D'UN ELEVE {% endblock %}
{% block titre_cadre %}
EDITION DES INFORMATIONS D'UNE INSCRIPTION
{% endblock %}

{% block formulaire %}

   <form class="needs-validation" action="{% url 'modifieinscription' ins.id ins.mateleve.matricule %}" method="POST" id="finscription" data-classe-url="{% url 'chargerlisteclasse' %}" enctype="multipart/form-data">

                {% csrf_token %}
        <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="IDInscrip">ID Inscription</label>
                            <input type="text" id="IDInscrip" value="{{ins.id}}" class="form-control" readonly>
                        </div>
                    </div>
                 
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_dateins">Date inscription</label>
                            <input type="text" name="date_inscription" id="id_dateins" value="{{ins.date_inscription|date:'Y-n-j'}}" class="form-control">
                        </div>
                    </div>
                </div>    

                <div class="row g-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="id_ansco">Année scolaire</label>
                            <select class="form-control" name="ansco" id="id_ansco">
                                <option value="{{ ins.annee_scolaire.id }}" selected>{{ ins.annee_scolaire }}</option>
                                {% for an in annee %}
                                <option value="{{ an.id }}">{{ an.descript_annee }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
         
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cbocycle">Cycle</label>
                            <select class="form-control" name="cycle" id="cbocycle">
                                <option value="{{ ins.idcycle.id }}" selected>{{ ins.idcycle }}</option>
                                {% for c in cycle %}
                                <option value="{{ c.id }}">{{ c.cycle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cboclasse">Classe</label>
                            <select class="form-control" name="classe" id="cboclasse">
                                <option value="{{ ins.idclasse.id }}" selected>{{ ins.idclasse }}</option>

                            </select>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="id_mat">Matricule</label>
                            <input type="text" name="matricule" id="id_mat" value="{{ins.mateleve.matricule}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="id_nom">Nom Famille</label>
                          <input type="text" name="nom" id="id_nom" value="{{ins.mateleve.nom}}" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_prenom">Prénom(s)</label>
                            <input type="text" name="prenom" id="id_prenom"  value="{{ins.mateleve.prenom}}" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="id_sexe">Sexe</label>
                            <select class="form-control" name="sexe_eleve" id="id_sexe">
                                <option value="{{ ins.mateleve.sexe_eleve }}" selected>{{ ins.mateleve.sexe_eleve }}</option>
                                <option value="Masculin">Masculin</option>
                                <option value="Feminin">Feminin</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_pere">Prénom(s) du Père</label>
                            <input type="text" name="pere" id="id_pere" value="{{ins.mateleve.pere}}" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_mere">Prénom(s) et Nom de la mère</label>
                            <input type="text" name="mere" id="id_mere"  value="{{ins.mateleve.mere}}" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_tuteur">Prénom(s) et Nom du tuteur</label>
                            <input type="text" name="tuteur" id="id_tuteur"  value="{{ins.mateleve.tuteur}}" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="id_contact_pere">Contact du père</label>
                            <input type="tel" pattern="^(\\+?[0-9]{1,3}[\\s\\-]?)?[0-9\\s\\-\\(\\)]{7,15}$" title="Saisissez un numéro de téléphone valide" name="contact_pere" id="id_contact_pere"  value="{{ins.mateleve.contact_pere}}" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="id_contact_mere">Contact de la mère</label>
                            <input type="tel" pattern="^(\\+?[0-9]{1,3}[\\s\\-]?)?[0-9\\s\\-\\(\\)]{7,15}$" title="Saisissez un numéro de téléphone valide" name="contact_mere" id="id_contact_mere"  value="{{ins.mateleve.contact_mere}}" class="form-control">
                        </div>
                    </div>

                </div>

                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_email_pere">Email du père</label>
                            <input type="text" name="email_pere" id="id_email_pere" value="{{ins.mateleve.email_pere}}" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_email_mere">Email de la mère</label>
                            <input type="text" name="email_mere" id="id_email_mere" value="{{ins.mateleve.email_mere}}" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_profes_pere">Profession du père</label>
                            <input type="text" name="profes_pere" id="id_profes_pere" value="{{ins.mateleve.profes_pere}}" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_profes_mere">Profession de la mère</label>
                            <input type="text" name="profes_mere" id="id_profes_mere" value="{{ins.mateleve.profes_mere}}" class="form-control">
                        </div>
                    </div>

                </div>

                <div class="row g-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="id_personne_contact">Personne contact</label>
                            <input type="text" name="personne_contact" id="id_personne_contact" value="{{ins.mateleve.personne_contact}}" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="id_adresse">Adresse/Résidence</label>
                            <input type="text" name="adresse" id="id_adresse"  value="{{ins.mateleve.adresse}}" class="form-control">
                        </div>
                    </div>
                  
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_ecole">Ecole origine</label>
                            <input type="text" name="ecole_origine" id="id_ecole"  value="{{ins.mateleve.ecole_origine}}" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_datenais">Date naissance</label>
                            <input type="text" name="datenaiss" id="id_datenais" value="{{ins.mateleve.datenaissance|date:'Y-n-j'}}" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_lieunais">Lieu naissance</label>
                            <input type="text" name="lieunais" id="id_lieunais"  value="{{ins.mateleve.lieu_naissance}}" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_date_entree">Date entrée</label>
                            <input type="text" name="date_entree" id="id_date_entree" value="{{ins.mateleve.date_arrivee|date:'Y-n-j'}}" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_pays">Pays naissance</label>
                            <input type="text" name="pays_naiss" id="id_pays"  value="{{ins.mateleve.pays_naissance}}" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="text-center">

                            {% if ins.mateleve.photo_eleve %}
                                <a href="{{ins.mateleve.photo_eleve.url}}" title="Photo ID">
                                    <img src="{{ins.mateleve.photo_eleve.url}}" width="150px">
                                </a>
                            {% else %}
                                <label>Photo indisponible</label>
                            {% endif %}
                            <input type="file" name="photoel" class="form-control" title="Charger la nouvelle photo de l'élève ici">
                        </div>
                    </div>
                </div>
               
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-success btn-md">Modifier &nbsp;<i class="fas fa-edit"></i></button>
                    <a href="{% url 'chargeranneecourante' %}" target="_self" class="btn btn-secondary btn-md">Retour &nbsp;<i class="fas fa-arrow-circle-left"></i></a>
                </div>

   </form>

{% endblock %}

{% block javascript %}

<script>

// Cette fonction javascript (JQuery) m'a permis de filtrer les classes selon le cycle choisi
    $("#cbocycle").change(function(){
        var url = $("#finscription").attr("data-classe-url");
        var idcycle = $(this).val();

        $.ajax({
            url:url,
            data:{
                'idcycle':idcycle
            },
            success:function(data){
                $("#cboclasse").html(data);
            }

        });
    });

    $(document).ready(function () {
            // Au clic sur le champ date, changer le type en "date" pour permettre la modification
            $('#id_dateins').on('click', function () {
                $(this).attr('type', 'date');
                $(this).focus();
            });

            // Quand on quitte le champ, reformater en texte lisible
            $('#id_dateins').on('blur', function () {
                if ($(this).val() !== '') {
                    //let date = new Date($(this).val());
                    //let formatted = date.toLocaleDateString('fr-FR');
                    $(this).attr('type', 'text');
                    $(this).val(formatted);
                }
            });
        });

    $(document).ready(function () {
            // Au clic sur le champ date, changer le type en "date" pour permettre la modification
            $('#id_datenais').on('click', function () {
                $(this).attr('type', 'date');
                $(this).focus();
            });

            // Quand on quitte le champ, reformater en texte lisible
            $('#id_datenais').on('blur', function () {
                if ($(this).val() !== '') {
                    //let date = new Date($(this).val());
                    //let formatted = date.toLocaleDateString('fr-FR');
                    $(this).attr('type', 'text');
                    $(this).val(formatted);
                }
            });
        });    
    
    $(document).ready(function () {
            // Au clic sur le champ date, changer le type en "date" pour permettre la modification
            $('#id_date_entree').on('click', function () {
                $(this).attr('type', 'date');
                $(this).focus();
            });

            // Quand on quitte le champ, reformater en texte lisible
            $('#id_date_entree').on('blur', function () {
                if ($(this).val() !== '') {
                    //let date = new Date($(this).val());
                    //let formatted = date.toLocaleDateString('fr-FR');
                    $(this).attr('type', 'text');
                    $(this).val(formatted);
                }
            });
        });

 </script>

{% endblock %}