asgiref==3.11.1
certifi==2026.7.22
charset-normalizer==3.4.4
Django==6.0.2
django-adminlte3==0.1.6
django-crispy-forms==1.12.0
et_xmlfile==2.0.0
fontawesomefree==6.6.0
idna==3.19
nimbasms==1.0.2
openpyxl==3.1.5
pillow==12.1.1
postgres==4.0
psycopg2-binary==2.9.11
psycopg2-pool==1.2
python-decouple==3.8
reportlab==4.4.10
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
whitenoise==6.12.0
