{% extends "base.html" %}
{% block titre_page %} MIS A JOUR {% endblock %}
{% block titre_formulaire %} DETAILS D'UNE LIGNE DE RECETTE {% endblock %}
{% block fil_ariane %}Comptabilité /  Recettes  / Mis à jour {% endblock %}
{% block titre_cadre %}
EDITION D'UNE LIGNE DE RECETTE
{% endblock %}

{% block formulaire %}

   <form class="needs-validation" action="{% url 'modifiecaisserecette' cais.id %}" method="POST">

                {% csrf_token %}

            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="IDcaisse">ID</label>
                            <input type="text" id="IDcaisse" value="{{cais.id}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_categ">Catégorie recette</label>
                            <input type="text" name="categorie" id="id_categ" value="{{cais.categ_depense}}" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_date_op">Date opération</label>
                            <input type="text" name="date_operation" id="id_date_op" value="{{cais.date_operation|date:'j-n-Y'}}" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="id_libelle">Désignation</label>
                            <input type="text" name="libelle_operation" id="id_libelle" value="{{cais.libelle_operation}}" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_type_op">Type opération</label>
                            <input type="text" name="type_operation" id="id_type_op" value="{{cais.type_operation}}" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_montant">Montant encaissé</label>
                            <input type="text" name="montant_encaisse" id="id_montant" value="{{cais.montant_encaisse|floatformat:'2g'}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="id_memo">Observation/Mémo</label>
                            <input type="text" name="observ" id="id_memo" value="{{cais.observ}}" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="id_annee">Année Scolaire</label>
                            <input type="text" name="anscolaire" id="id_annee" value="{{cais.anscolaire}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>

                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-success btn-md">Modifier &nbsp;<i class="fa fa-edit"></i></button>
                    <a href="{% url 'listerecette' %}" target="_self" class="btn btn-primary btn-md">Retour &nbsp;<i class="fa fa-arrow-circle-left"></i></a>
              </div>

   </form>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            // Au clic sur le champ date, changer le type en "date" pour permettre la modification
            $('#id_date_op').on('click', function () {
                $(this).attr('type', 'date');
                $(this).focus();
            });

            // Quand on quitte le champ, reformater en texte lisible
            $('#id_date_op').on('blur', function () {
                if ($(this).val() !== '') {
                    //let date = new Date($(this).val());
                    //let formatted = date.toLocaleDateString('fr-FR');
                    $(this).attr('type', 'text');
                    $(this).val(formatted);
                }
            });
        });
    </script>
{% endblock %}