{% extends 'base.html' %}
{% block titre_page %} ERREUR D'ACCES {% endblock %}
{% block titre_formulaire %} ERREUR D'ACCES A UN MODULE {% endblock %}

{% block fil_ariane %}Administration / Global /  Page Erreur {% endblock %}
{% block titre_cadre %}
ACCES REFUSE : ERREUR 403
{% endblock %}

{% block formulaire %}

<div class="error-page">
  <h2 class="headline text-warning">403</h2>
  <div class="error-content">
    <h3><i class="fas fa-exclamation-triangle text-warning"></i> Accès refusé</h3>
    <p>
      Vous n'avez pas les droits nécessaires pour effectuer cette action.
      Contactez l'Administration si vous pensez qu'il s'agit d'une erreur.
    </p>
  </div>
</div>
{% endblock %}