{% extends "base.html" %}
{% block titre_page %} CONSULTATION {% endblock %}
{% load crispy_forms_tags %}
{% block titre_formulaire %} FICHE INDIVIDUELLE DE SALAIRE {% endblock %}
{% block fil_ariane %}Personnel / Salaires / Consultation {% endblock %}
 {% block titre_cadre %}
  CONSULTER UN BULLETIN DE SALAIRE
 {% endblock %}


{% block formulaire %}

        <form class="needs-validation" action="" method="get">

                {% csrf_token %}

            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="IDsal">ID salaire</label>
                            <input type="text" id="IDsal" value="{{sal.id}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-4">
                        <div class="form-group">                            
                            <label for="id_datepaie">Date Paiement</label>
                            <input type="text" name="date_paiement" id="id_datepaie" value="{{sal.date_paiement}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_anscol">Année scolaire</label>
                            <input type="text" name="anneescolaire" id="id_anscol" value="{{sal.anneescolaire}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_mois_paie">Mois payé</label>
                            <input type="text" name="mois_paie" id="id_mois_paie" value="{{sal.mois_paie}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_nbr_heure">Nombre heure enseignée</label>
                            <input type="text" name="nbre_heure" id="id_nbr_heure" value="{{sal.nbre_heure}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_taux_horaire">Taux horaire</label>
                            <input type="text" name="taux_horaire" id="id_taux_horaire" value="{{sal.taux_horaire}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_salbase">Salaire de base</label>
                            <input type="text" name="salbase" id="id_salbase" value="{{sal.salbase}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="id_avance_paie">Montant des avances</label>
                            <input type="text" name="avance_paie" id="id_avance_paie" value="{{sal.avance_paie}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="id_prime">Montant des primes</label>
                            <input type="text" name="primes" id="id_prime" value="{{sal.primes}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="id_salb ">Salaire brut</label>
                            <input type="text" name="salbrut" id="id_salb" value="{{sal.salbrut}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="id_coti_social">Cotisation sociale</label>
                            <input type="text" name="cotis_sociale" id="id_coti_social" value="{{sal.cotis_sociale}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_detail_paie">Détails paiement</label>
                            <input type="text" name="detail_paiement" id="id_detail_paie" value="{{sal.detail_paiement}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_salnet">Salaire net</label>
                            <input type="text" name="salnet" id="id_salnet" value="{{sal.salnet}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_nb_hsupp">Heures supp</label>
                            <input type="text" name="nb_hsupp" id="id_nb_hsupp" value="{{sal.nb_hsupp}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_mnt_hsupp">Montant heure supp</label>
                            <input type="text" name="mont_hsupp" id="id_mnt_hsupp" value="{{sal.mont_hsupp}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_idpersonnel">ID employé</label>
                            <input type="text" name="idpersonnel" id="id_idpersonnel" value="{{sal.idpersonnel.id}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_nom_emp">Nom famille</label>
                            <input type="text" name="nom_famille" id="id_nom_emp" value="{{sal.idpersonnel.nom_personnel}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_prenom">Prénoms</label>
                            <input type="text" name="prenom_emp" id="id_prenom" value="{{sal.idpersonnel.prenom_personnel}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_contact">Contact</label>
                            <input type="text" name="contact_personnel" id="id_contact" value="{{sal.idpersonnel.contact_personnel}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_type_emp">Catégorie</label>
                            <input type="text" name="type_personnel" id="id_type_emp" value="{{sal.idpersonnel.type_personnel}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>                        

            </div>

            <div class="card-footer text-center">
                <a href="{% url 'listesalairemensuel' %}" target="_self" class="btn btn-md btn-primary">Retour &nbsp; <i class="fas fa-arrow-circle-left"></i></a>
            </div>


        </form>

{% endblock %}