{% extends "base.html" %}
{% block titre_page %} CONSULTATION {% endblock %}
{% load crispy_forms_tags %}
{% block titre_formulaire %} FICHE INDIVIDUELLE D'UN EMPLOYE {% endblock %}
{% block fil_ariane %}Personnel / Consultation {% endblock %}
 {% block titre_cadre %}
  CONSULTER LES INFOS D'UN EMPLOYE
 {% endblock %}

{% block formulaire %}


        <form class="needs-validation" action="" method="GET">

                {% csrf_token %}

                <div class="card-body">     
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="IDperso">ID Personnel</label>
                                <input type="text" id="IDperso" value="{{pers.id}}" class="form-control" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_nompers">Nom famille</label>
                                <input type="text" name="nom_personnel" id="id_nompers" value="{{pers.nom_personnel}}" class="form-control" required readonly>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_prenompers">Prénom(s) personnel</label>
                                <input type="text" name="prenom_personnel" id="id_prenompers" value="{{pers.prenom_personnel}}" class="form-control" required readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="fom-group">                 
                                <label for="id_civilite">Civilité</label>
                                <input type="text" name="civilite" id="id_civilite" value="{{pers.civilite}}" class="form-control" required readonly>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_date_naissance">Date de naissance</label>
                                <input type="text" name="date_naissance" id="id_date_naissance" value="{{pers.date_naissance|date:'Y-n-j'}}" class="form-control" required readonly>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_lieu_naissance">Lieu de naissance</label>
                                <input type="text" name="lieu_naissance" id="id_lieu_naissance" value="{{pers.lieu_naissance}}" class="form-control" required readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_niveau_etude">Niveau étude</label>
                                <input type="text" name="niveau_etude" id="id_niveau_etude" value="{{pers.niveau_etude}}" class="form-control" required readonly>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_type_pers">Type Personnel</label>
                                <input type="text" name="type_personnel" id="id_type_pers" value="{{pers.type_personnel}}" class="form-control" required readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_adrpers">Adresse/Résidence</label>
                                <input type="text" name="adresse_personnel" id="id_adrpers" value="{{pers.adresse_personnel}}" class="form-control" required readonly>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_contactpers">Contact</label>
                                <input type="text" name="contact_personnel" id="id_contactpers" value="{{pers.contact_personnel}}" class="form-control" required readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_fonctpers">Fonction/Poste occupé</label>
                                <input type="text" name="fonction_personnel" id="id_fonctpers" value="{{pers.fonction_personnel}}" class="form-control" required readonly>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_emailpers">Email</label>
                                <input type="text" name="email_personnel" id="id_emailpers" value="{{pers.email_personnel}}" class="form-control" required readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_sexe">Genre(Sexe)</label>
                                <input type="text" name="sexe_personnel" id="id_sexe" value="{{pers.sexe_personnel}}" class="form-control" required readonly>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_salbaspers">Salaire de base</label>
                                <input type="text" name="salaire_base" id="id_salbaspers" value="{{pers.salbase|floatformat:'2g'}}" class="form-control" required readonly>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_anne_exp">Nb. année d'experience</label>
                                <input type="text" name="annee_experience" id="id_anne_exp" value="{{pers.annee_experience}}" class="form-control" required readonly>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_type_contrat">Type de contrat</label>
                                <input type="text" name="type_contrat" id="id_type_contrat" value="{{pers.contrat_type}}" class="form-control" required readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_diplome">Diplôme obtenu</label>
                                <input type="text" name="diplome_personnel" id="id_diplome" value="{{pers.diplome}}" class="form-control" required readonly>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_date_emb">Date d'embauche</label>
                                <input type="text" name="date_embauche" id="id_date_emb" value="{{pers.date_embauche|date:'Y-n-j'}}" class="form-control" required readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_statut_matrimonial">Etat matrimonial</label>
                                <input type="text" name="etat_matrimonial" id="id_statut_matrimonial" value="{{pers.etat_matrimonial}}" class="form-control" required readonly>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_annee_scolaire">Annee scolaire</label>
                                <input type="text" name="annee_scolaire" id="id_annee_scolaire" value="{{pers.annee_scolaire}}" class="form-control" required readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group text-center">
                                {% if pers.photo_employe %}
                                <img src="{{pers.photo_employe.url}}" alt="Photo employe" width="100px">
                                {% else %}
                                <label>Photo indisponible</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-footer text-center">
                    <a href="{% url 'listegeneralepersonnel'%}" target="_self" class="btn btn-primary btn-md" title="Afficher la liste générale des employés">Retour &nbsp;<i class="fas fa-arrow-circle-left"></i></a>
                </div>


        </form>

{% endblock %}