{% extends "base.html" %}
{% block titre_page %} GESTION DES SALAIRES {% endblock %}
{% load crispy_forms_tags %}
{% block titre_formulaire %} FICHE INDIVIDUELLE DE SALAIRE {% endblock %}
{% block fil_ariane %}Personnel / Salaires / Nouveau {% endblock %}
 {% block titre_cadre %}
  ENREGISTRER UN BULLETIN DE SALAIRE
 {% endblock %}


 {% block formulaire %}

        <form action="" method="post" id="fsalaire" class="needs-validation" autocomplete="on">

                    {% csrf_token %}

            <div class="card-body">

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.anneescolaire|as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.mois_paie|as_crispy_field}}
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.idpersonnel|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="id_nom_emp">Nom Famille</label>
                                <input type="text" id="id_nom_emp" class="form-control" title="Affiche le nom de famille de l'employé" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="id_prenom_emp">Prénoms</label>
                                <input type="text" id="id_prenom_emp" class="form-control" title="Affiche le prénom de l'employé" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_contact">Contact</label>
                                <input type="text" id="id_contact" class="form-control" title="Affiche le contact de l'employé" readonly>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_type_emp">Catégorie</label>
                                <input type="text" id="id_type_emp" class="form-control" title="Affiche la catégorie de l'employé" readonly>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_salbase">Salaire de base</label>
                                <input type="text" id="id_salbase" class="form-control" title="Affiche le salaire de base de l'employé quand il est de catégorie Permanent" readonly>
                            </div>
                        </div>

                    </div>

                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{form.date_paiement|as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{form.nbre_heure|as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{form.taux_horaire|as_crispy_field}}
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.primes|as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.salbrut|as_crispy_field}}
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.avance_paie|as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.cotis_sociale|as_crispy_field}}
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{form.salnet|as_crispy_field}}
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.nb_hsupp|as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.mont_hsupp|as_crispy_field}}
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{form.detail_paiement|as_crispy_field}}
                            </div>
                        </div>
                    </div>
             </div>


            <div class="card-footer text-center">
                <button type="submit" class="btn btn-success btn-md">Valider &nbsp; <i class="fa-sharp fa-solid fa-check"></i></button>
                <button type="reset" class="btn btn-warning btn-md">Annuler &nbsp; <i class="fas fa-refresh"></i></button>
                <a href="{% url 'listesalairemensuel' %}" class="btn btn-primary btn-md" target="_self" title="Affiche la liste mensuelle des salaires">Retour &nbsp; <i class="fas fa-arrow-circle-left"></i></a>
                    
            </div>

        </form>

 {% endblock %}

 {% block javascript %}

        <script>

            $(function () {
                const $emp   = $('#idemploye');
                const $mois  = $('#id_mois_paie');
                const $annee = $('#id_anscol');
                const $type  = $('#id_type_emp');
                const $nbh   = $('#id_nbr_heure');
                const $th    = $('#id_taux_horaire');
                const $base  = $('#id_salbase');
                const $av    = $('#id_avance_paie');
                const $prime = $('#id_prime');
                const $brut  = $('#id_salb');
                const $coti  = $('#id_coti_social');
                const $net   = $('#id_salnet');
                const $mhs = $('#id_mnt_hsupp');   

                function num(v) {
                    let s = String(v).replace(/[\s\u00a0\u202f]/g, '');
                    if (s === '' || s === '-') { return 0; }

                    const lastDot = s.lastIndexOf('.');
                    const lastComma = s.lastIndexOf(',');

                    if (lastDot !== -1 && lastComma !== -1) {
                        // Les deux présents : le dernier est le séparateur décimal
                        s = (lastDot > lastComma)
                            ? s.replace(/,/g, '')                    // 3,500,000.00
                            : s.replace(/\./g, '').replace(',', '.'); // 3.500.000,00
                    } else if (lastComma !== -1) {
                        // Virgule seule : décimale si "xx,5" ou "xx,50", sinon milliers
                        const p = s.split(',');
                        s = (p.length === 2 && p[1].length <= 2) ? p[0] + '.' + p[1] : s.replace(/,/g, '');
                    } else if (s.split('.').length > 2) {
                        // Plusieurs points : ce sont des milliers
                        s = s.replace(/\./g, '');
                    }

                    const n = parseFloat(s);
                    return isNaN(n) ? 0 : n;
                }

                function majStatutChamps() {
                    const estVacataire = $type.val() === 'Vacataire';
                    $nbh.prop('readonly', !estVacataire);
                    $th.prop('readonly', !estVacataire);
                }

                
                function calculer() {
                        let base;
                        if ($type.val() === 'Vacataire') {
                            base = num($nbh.val()) * num($th.val());
                            $base.val(base.toFixed(2));
                        } else {
                            base = num($base.val());
                        }
                        const brut = (base + num($prime.val()) + num($mhs.val())) - num($av.val());
                        $brut.val(brut.toFixed(2));
                        $net.val((brut - num($coti.val())).toFixed(2));
                }

                
                function chargerInfos(resetHeures) {
                    if (!$emp.val()) { return; }
                    $.ajax({
                        url: "{% url 'chargerinfospersonnel' %}",
                        data: {
                            idemploye: $emp.val(),
                            mois: $mois.val(),
                            idannee: $annee.val()
                        },
                        success: function (data) {
                            $("#id_nom_emp").val(data.nom);
                            $("#id_prenom_emp").val(data.prenom);
                            $("#id_contact").val(data.contact);
                            $type.val(data.type_employe);
                            $av.val(data.avances.toFixed(2));
                            $("#id_detail_paie").val(
                                'Paiement du salaire de ' + data.nom + ' ' + data.prenom +
                                ', Contact : ' + data.contact + ', Catégorie : ' + data.type_employe
                            );


                            if (resetHeures) {
                                $base.val(data.salbase.toFixed(2));
                                $nbh.val(0);
                                $th.val(0);
                            }
                            majStatutChamps();
                            calculer();
                        },

                        error: function (xhr) {
                                let msg = 'Impossible de charger les informations de l\'employé.';
                                if (xhr.status === 404 && xhr.responseJSON && xhr.responseJSON.erreur) {
                                    msg = xhr.responseJSON.erreur;
                                }
                                afficherMessage('danger', msg);
                            }


                    });
                }

                // Changement d'employé : on recharge tout et on remet heures/taux à 0
                $emp.on('change', function () { chargerInfos(true); });

                // Changement de mois ou d'année : seules les avances changent
                $mois.on('change', function () { chargerInfos(false); });
                $annee.on('change', function () { chargerInfos(false); });

                // Recalcul en direct
                // et dans l'écoute des champs :
                $nbh.add($th).add($prime).add($coti).add($mhs).on('input', calculer);

                // État initial de la page (sans écraser les valeurs enregistrées)
                majStatutChamps();
            });  


            // Permet de filtrer les employes chargés dans la dropdownlist

            $("#idemploye").select2({
                placeholder: "Sélectionnez",
                allowClear: true,
                width: 'resolve',
                language: {
                    noResults: function () {
                        return "Aucun employé trouvé";
                    },
                    searching: function () {
                        return "Recherche en cours...";
                    }
                },
                width: '100%'
            });

            $('#fsalaire').on('reset', function () {
                // setTimeout : l'événement "reset" est déclenché AVANT que le navigateur
                // ne remette les champs à zéro, il faut donc attendre la fin du reset natif.
                setTimeout(function () {
                    $('#idemploye').val(null).trigger('change');
                }, 0);
            });




        </script>


 {% endblock %}