{% extends "base.html" %}
{% block titre_page %} CONSULTATION {% endblock %}
{% block titre_formulaire %} DETAILS D'UNE ANNEE SCOLAIRE {% endblock %}
{% block titre_cadre %}
INFORMATIONS SUR UNE ANNEE SCOLAIRE
{% endblock %}

{% block formulaire %}

    <form action="" method="get" class="needs-validation">

                {% csrf_token %}

                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="IDAns">ID</label>
                                <input type="text" id="IDAns" maxlength="10" value="{{ansc.id}}" class="form-control" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="id_ansc">Année scolaire</label>
                                <input type="text" name="descript_annee" id="id_ansc" maxlength="10"  value="{{ansc.descript_annee}}" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card-footer text-center">
                    <a href="{% url 'listeanneescolaire' %}" target="_self" class="btn btn-primary btn-md">Retour &nbsp; <i class="fa fa-arrow-circle-left"></i></a>
                </div>
   </form>

{% endblock %}