{% extends "base.html" %}
{% block titre_page %} CONSULTATION {% endblock %}
{% block titre_formulaire %} DETAILS D'UN CYCLE SCOLAIRE {% endblock %}
{% block titre_cadre %}
INFORMATION SUR UN CYCLE SCOLAIRE
{% endblock %}

{% block formulaire %}

        <form  action="" method="get" class="needs-validation">

                        {% csrf_token %}

                    <div class="card-body">  
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="IDCycle">ID Cycle</label>
                                    <input type="text" id="IDCycle" maxlength="10" value="{{cycle.id}}" class="form-control" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_ncycle">Cycle scolaire</label>
                                    <input type="text" name="nom_cycle" id="id_ncycle" maxlength="15"  value="{{cycle.cycle}}" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="card-footer text-center">
                        <a href="{% url 'listecycle' %}" target="_self" class="btn btn-sm btn-primary">Retour &nbsp;<i class="fa fa-arrow-circle-left"></i></a>
                    </div>    

        </form>

{% endblock %}