{% extends "base.html" %}
{% block titre_page %} CONSULTATION {% endblock %}
{% block titre_cadre %}
DETAILS D'UNE ANNEE SCOLAIRE
{% endblock %}

{% block formulaire %}

    <form class="form-horizontal" action="" method="POST">

                {% csrf_token %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="IDAns">ID</label>
                            <input type="text" id="IDAns" maxlength="10" value="{{ansc.id}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="id_ansc">Année scolaire</label>
                            <input type="text" name="descript_annee" id="id_ansc" maxlength="10"  value="{{ansc.descript_annee}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <a href="{% url 'listeanneescolaire' %}" target="_self" class="btn btn-sm btn-primary">Retour &nbsp; <i class="fa fa-arrow-circle-left"></i></a>
                       </div>
                    </div>
                </div>
   </form>

{% endblock %}