{% extends "base.html" %}
{% block titre_page %} GESTION DES ANNEES SCOLAIRES {% endblock %}
{% load crispy_forms_tags %}
{% block titre_formulaire %} PARAMETRAGE DES ANNEES SCOLAIRES {% endblock %}
 {% block titre_cadre %}
    CREATION DES ANNEES SCOLAIRES
 {% endblock %}

 {% block formulaire %}

     <form action="" method="POST" class="needs-validation">

            {% csrf_token %}

            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{form|crispy}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer text-center">    
                <button type="submit" class="btn btn-success btn-md">Ajouter &nbsp;<i class="fa fa-add"></i></button>
                <button type="reset" class="btn btn-warning btn-md">Annuler &nbsp;<i class="fa fa-refresh"></i></button>
                <a href="{% url 'listeanneescolaire' %}" class="btn btn-primary btn-md" title="Afficher/Voir la liste" target="_self">Retour &nbsp;<i class="fa fa-arrow-circle-left"></i></a>
            </div>
     </form>
{% endblock %}