{% extends "base.html" %}
{% block titre_page %} MIS A JOUR {% endblock %}
{% block titre_formulaire %} DETAILS D'UN CYCLE SCOLAIRE {% endblock %}
{% block titre_cadre %}
EDITION D'UN CYCLE SCOLAIRE
{% endblock %}

{% block formulaire %}

            <form  action="{% url 'modifiecycle' cycle.id %}" method="POST" class="needs-validation">

                            {% csrf_token %}

                      <div class="card-body">    
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="IDCycle">ID Cycle</label>
                                        <input type="text" id="IDCycle" maxlength="10" value="{{cycle.id}}" class="form-control" required readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="id_ncycle">Cycle scolaire</label>
                                        <select name="nom_cycle" class="form-control" id="id_ncycle">
                                            <option value="{{cycle.cycle}}" selected>{{ cycle.cycle }}</option>
                                            <option value="Maternelle">Maternelle</option>
                                            <option value="Primaire">Primaire</option>
                                            <option value="Collège">Collège</option>
                                            <option value="Lycée SM">Lycée SM</option>
                                            <option value="Lycée SS">Lycée SS</option>
                                            <option value="Lycée SE">Lycée SE</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success btn-md">Modifier &nbsp;<i class="fa fa-edit"></i></button>
                            <a href="{% url 'listecycle' %}" target="_self" class="btn btn-primary btn-md">Retour &nbsp;<i class="fa fa-arrow-circle-left"></i></a>
                        </div>
            </form>

{% endblock %}