{% extends "base.html" %}
{% block titre_page %} MIS A JOUR {% endblock %}
{% block titre_formulaire %} DETAILS DES INFORMATIONS D'UNE CLASSE {% endblock%}
{% block titre_cadre %}
EDITION D'UNE CLASSE
{% endblock %}

{% block formulaire %}

   <form action="{% url 'modifieclasse' clas.id %}" method="POST" class="needs-validation">

                {% csrf_token %}

            <div class="card-body">    
                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="IDclasse">ID Classe</label>
                            <input type="text" id="IDclasse" maxlength="10" value="{{clas.id}}" class="form-control" required readonly>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="id_nomclasse">Nom de la classe</label>
                            <input type="text" name="nom_classe" id="id_nomclasse" maxlength="20"  value="{{clas.nom_classe}}" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_frais_inscrip">Frais inscription</label>
                            <input type="number" name="frais_inscription" id="id_frais_inscrip" value="{{clas.frais_inscription}}" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_frais_reinscrip">Frais reinscription</label>
                            <input type="number" name="frais_reinscription" id="id_frais_reinscrip" value="{{clas.frais_reinscription}}" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_tranche1">Première tranche</label>
                            <input type="number" name="tranche1" id="id_tranche1" value="{{clas.tranche1}}" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_tranche2">Deuxième tranche</label>
                            <input type="number" name="tranche2" id="id_tranche2" value="{{clas.tranche2}}" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>
             
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-success btn-md">Modifier &nbsp; <i class="fa fa-edit"></i></button>
                <a href="{% url 'listeclasse' %}" target="_self" class="btn btn-primary btn-md">Retour &nbsp;<i class="fa fa-arrow-circle-left"></i></a>
            </div>
        
   </form>

{% endblock %}