{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block titre_page %} MIS A JOUR DU MOT DE PASSE {% endblock %}
{% block titre_formulaire %} MIS A JOUR DU MOT DE PASSE {% endblock %}
{% block fil_ariane %}Administration / Utilisateurs / Mot de passe actualisé {% endblock %}
{% block titre_cadre %}
CHANGEMENT DU MOT DE PASSE
{% endblock %}

{% block formulaire %}

    <div class="card-body">  
        <div class="text-center">
            <i class="fas fa-check-circle" style="font-size: 3rem; color: #22c55e;"></i>
            <h2 class="mt-3">Mot de passe modifié</h2>
            <p>Votre mot de passe a été mis à jour avec succès.</p>
            <a href="{% url 'accueil' %}" class="btn btn-primary btn-md mt-3" title="Acceder au tableau de bord" target="_self">Accueil &nbsp;<i class="fas fa-home"></i></a>
        </div>
    </div>

{% endblock %}