{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block titre_page %} MIS A JOUR DU MOT DE PASSE {% endblock %}
{% block titre_formulaire %} MIS A JOUR DU MOT DE PASSE {% endblock %}
{% block fil_ariane %}Administration / Utilisateurs /  Changer le mot de passe {% endblock %}
{% block titre_cadre %}
CHANGEMENT DU MOT DE PASSE
{% endblock %}

{% block formulaire %}

    {% if form.errors %}
    <div class="alert alert-danger">
        Veuillez corriger les erreurs ci-dessous.
    </div>
    {% endif %}

    <form method="post" class="needs-validation">

            {% csrf_token %}

        <div class="card-body">    
            <div class="row g-3">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form.old_password | as_crispy_field }}
                        {% for error in form.old_password.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}
                    </div>
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-6">                    
                    <div class="form-group">
                        {{ form.new_password1 | as_crispy_field }}
                        {% for error in form.new_password1.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.new_password2 | as_crispy_field }}
                        {% for error in form.new_password2.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}
                    </div>
                </div>
            </div>      
        </div>    

        <div class="card-footer text-center">
            <button type="submit" class="btn btn-success btn-md">Modifier &nbsp;<i class="fas fa-edit"></i></button>
            <a href="{% url 'accueil' %}" target="_self" title="Acceder au tableau de bord" class="btn btn-primary btn-md">Accueil &nbsp;<i class="fas fa-home"></i></a>
        </div>

    </form>


{% endblock %}